fabric/03 - Ingest Data - Parent.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "table": "ingestion_entity"
            },
            "schema": [],
            "linkedService": {
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "37c4eb9d-b232-4868-aa26-89a7a84e5b82",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "annotations": []
              },
              "name": "Metadata"
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Tables to Ingest",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('Get Tables to Ingest').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "InvokePipeline",
              "typeProperties": {
                "parameters": {
                  "EntityCode": {
                    "value": "@item().code",
                    "type": "Expression"
                  },
                  "SourceQuery": {
                    "value": "@item().source_query",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true,
                "workspaceId": "<Workspace ID>",
                "pipelineId": "738a4e73-8f79-4617-9fbd-50be6b8de15b",
                "operationType": "InvokeFabricPipeline"
              },
              "externalReferences": {
                "connection": "f0780898-19f6-4cbf-a15a-47c08daba5b6"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Ingest Table",
              "dependsOn": []
            }
          ]
        },
        "name": "Ingest Data",
        "dependsOn": [
          {
            "activity": "Get Tables to Ingest",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}